<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gui_project1.Properties.Settings.PSMANAGERConnectionString"
            connectionString="Data Source=DESKTOP-8NDG62G;Initial Catalog=PSMANAGER;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="gui_project1.Properties.Settings.passwordmanagerConnectionString"
            connectionString="Data Source=DESKTOP-8NDG62G;Initial Catalog=passwordmanager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="gui_project1.Properties.Settings.passwordmanagerConnectionString1"
            connectionString="Data Source=DESKTOP-2A8NEVF;Initial Catalog=passwordmanager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>